<table class="table table-striped-columns mt-5 " style="width: 90% ; margin: 0 auto; ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
 <tbody>
            <tr>
              
              <th scope="row"><%= users.id %></th>
              <td><%= users.First_Name %>  <%= users.Last_Name %></td>
              <td><%= users.gender %></td>
              <td><%= users.Country %></td>
              <td><%= users.Age %></td>
              <td><%= users.display_date%></td>
              
              
              <td>
              
              </td>
            </tr>
           

          </tbody>
        </table>
</table>